.background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2017/10/05/195827_1324710.jpg.2000x1333_q95_crop-smart_upscale.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;  
    position: relative;
    z-index: 1;
    background: rgba(255,255,255,0.9);
    color: black;
    width: 380px;
    padding: 32px 40px;

}

  .login-title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .login-btn {
    background-color: maroon;
    color: white;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .manuever-btn {
    color: maroon;
  }

  .textbox {
    background-color: #d9dddc;
  }