.background {
    display: flex;
    background-image: url("https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2017/10/05/195827_1324710.jpg.2000x1333_q95_crop-smart_upscale.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #fff;
    color: #000;
    width: 50vw;
  }
  
  .login-title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .login-btn {
    background-color: maroon;
    color: white;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-page-btn {
    color: maroon;
  }

  .textbox {
    background-color: #ada8a8;
  }